<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>

<body>

    <section class="main_section">

        <div class="titles">
            <h1> Générateur de mots de passe </h1>
            <p> Générez en un seul clic des mots de passe forts, aléatoires et uniques. </p>
        </div>

        <div class="middle_box">
            <form method="POST">
                <div class="middle_output">
                    <input type="number" value="{{longeur}}" name="longeur">
                    <div class="password_output">
                        <h2 class="password"> {{ password }} </h2><button class="btn_redo" name="btn_redo" type="submit"> 🔄 </button>
                    </div>
                    <div class="btnCopy"> <button class="copy_btn"> COPIE  </button> <div class="msg_copy"> <p> Copier le mot de passe </p> </div> </div> 
                </div>

                <div class="setting">

                    <input type="checkbox" name="az1" class="az2" value="True" {{aa}}>
                    <label for="az1"> A - Z </label>

                    <input type="checkbox" name="az2" class="az2" value="True" {{bb}}>
                    <label for="az2"> a - z </label>

                    <input type="checkbox" name="dgt" class="dgt" value="True" {{cc}}>
                    <label for="dgt"> 0 - 9 </label>

                    <input type="checkbox" name="spc" value="True" class="spc" {{dd}}>
                    <label for="spc"> !@#$%^& </label>

                </div>
            </form>

        </div>

        <div class="end">
            <div class="end_int"> 
                <p>Cet outil utilise Python pour vérifier la force d'un mot de passe sur votre terminal uniquement (côté
                    client). Ces mots de passe ne son nas transmis a nos serveurs</p>
    
                <div class="btnViewMore">
                    <div> 
                        <button class="ent_btn"> Essaver le forfait Entreprise </button>
                        <p>Aucune carte de crédit requise</p>
                    </div>

                    <button class="pers_btn"> Essaver le forfait Personne </button>
                </div>
            </div>

        </div>
    </section>

</body>

</html>